#about {
    .about-banner {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 5%;

    }

    .inner {
        width: 90%;
        margin: auto;

    }
}

#about .inner figure figcaption p span {
    font-family: 'Pretendard-Regular';
}

#about .about-banner {
        font-family: var(--font-family-Eng);
}

@media (max-width:700px) {
    #about {
        .about-banner {
            height: 80px;

            span {
                font-size: 1.3rem;
                margin: 0 30px;
            }
        }

        .inner {
            figure {
                width: 100%;
                height: 100%;
                gap: 10%;
                margin-top: 50px;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                >.mobile {
                    display: block;
                    width: 90%;
                    border-radius: 25px;
                }

                .pc {
                    display: none;
                }

                figcaption {
                    p {
                        font-size: 1.5rem;
                        margin: 20px 0;

                        span {
                            margin-right: 30px;

                            &.kor {
                                font-size: 1rem;
                            }

                            &:nth-child(1) {
                                font-weight: bold;
                            }
                        }
                    }

                    .skill {
                        width: 100%;

                        p {
                            font-weight: bold;
                        }

                        ul {
                            width: 100%;
                            gap: 20px;
                            flex-wrap: wrap;
                            align-items: center;

                            li {
                                width: 10%;

                                img {
                                    width: 100%;
                                    transition: .35s;
                                }

                                &:hover img {
                                    transform: rotate(5deg) scale(1.2);
                                }
                            }
                        }
                    }
                }
            }

            .word {
                margin-top: 3%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;


                ul {

                    flex-wrap: wrap;
                    align-items: center;

                    li {
                        font-size: 3.5rem;
                        margin: 20px 10px;

                        &.kor {
                            font-size: 2.5rem;
                        }
                    }
                }

            }
        }
    }
}


@media (min-width:701px) {
    #about {
        .about-banner {
            height: 80px;

            span {
                font-size: 2rem;
                margin: 0 30px;
            }
        }

        .inner {
            figure {
                width: 100%;
                height: 600px;
                gap: 10%;
                margin-top: 50px;
                align-items: center;
                justify-content: center;

                >.pc {
                    display: block;
                    height: 90%;
                    border-radius: 25px;
                }

                >.mobile {
                    display: none;
                }

                figcaption {
                    p {
                        font-size: 1.5rem;
                        margin: 20px 0;

                        span {
                            margin-right: 30px;

                            // &.kor {
                            //     font-size: 1rem;
                            // }

                            &:nth-child(1) {
                                font-weight: bold;
                            }
                        }
                    }

                    .skill {
                        p {
                            font-weight: bold;
                        }

                        ul {
                            gap: 20px;
                            flex-wrap: wrap;

                            li {
                                width: 50px;

                                img {
                                    width: 100%;
                                    transition: .35s;
                                }

                                &:hover img {
                                    transform: rotate(5deg) scale(1.2);
                                }
                            }
                        }
                    }
                }
            }

            .word {
                margin-top: 3%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;


                ul {

                    flex-wrap: wrap;
                    align-items: center;

                    li {
                        font-size: 3.5rem;
                        margin: 20px 10px;

                        &.kor {
                            font-size: 2.5rem;
                        }
                    }
                }

            }
        }
    }
}


@media (min-width:1100px) {
    #about {
        .about-banner {
            font-size: 3rem;
            height: 80px;

            span {
                margin: 0 30px
            }
        }

        .inner {
            figure {
                width: 100%;
                height: 600px;
                gap: 10%;
                margin-top: 50px;
                align-items: center;
                justify-content: center;

                >.pc {
                    display: block;
                    height: 100%;
                    border-radius: 25px;
                }

                >.mobile {
                    display: none;
                }

                figcaption {
                    p {
                        // font-size: 1.7rem;
                        margin: 20px 0;

                        span {
                            margin-right: 30px;

                            // &.kor {
                            //     font-size: 1.2rem;
                            // }

                            &:nth-child(1) {
                                font-weight: normal;
                            }
                        }
                    }

                    .skill {
                        p {
                            font-weight: normal;
                        }

                        ul {
                            gap: 20px;

                            li {
                                width: 50px;

                                img {
                                    width: 100%;
                                    transition: .35s;
                                }

                                &:hover img {
                                    transform: rotate(5deg) scale(1.2);
                                }
                            }
                        }
                    }
                }
            }

            .word {
                margin: 3%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                ul {
                    margin: 30px 0;
                    align-items: center;

                    li {
                        font-size: 4.5rem;
                        margin: 0 20px;

                        &.kor {
                            font-size: 4rem;
                        }
                    }
                }

            }
        }
    }
}