#work {
    background-color: var(--black);
    width: 100%;

    .banner {
        background-image: linear-gradient(to right, #33b1ff, #5ba4ff, #8992ff, #b57bf5, #db5ddb, #f644b2, #ff3487, #ff385b, #ff6a1e, #f5a100, #c0d300, #48ff00);
        color: var(--white);
    }

    .banner {
        font-family: var(--font-family-Eng);
        contain: paint;

        .splide__track {
            .splide__list {
                display: flex;
                align-items: center;

                .splide__slide {
                    padding: 5px 20px;
                    white-space: nowrap;
                }
            }
        }

    }
    .work-desc{
        .desc-index{
            li{
                .summary{
                    font-family: 'Pretendard-Regular';
                }
            }
        }
    }

    .work-title,.desc-index {
        font-family: var(--font-family-Eng);
    }

    .work-list {
        contain: paint;
    }
}

@media (max-width:700px) {
    #work {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .banner {
            width: 100%;
            height: 70px;
            display: flex;
            overflow-x: hidden;
            align-items: center;

            .splide__track {
                .splide__list {
                    display: flex;
                    align-items: center;

                    .splide__slide {
                        padding: 5px 20px;
                        font-size: 25px;

                        &:nth-child(2) {
                            font-size: 18px;
                        }
                    }
                }
            }

        }

        .inner {
            width: 100%;
            margin-top: 5%;
            overflow-x: hidden;

            .inner-box {
                width: 100%;
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 50px;
                height: 100%;
            }

            .work-desc {
                display: flex;
                align-items: center;
                position: relative;
                height: 100px;

                .work-title {
                    color: var(--mainColor100-color);
                    font-size: 5rem;
                    font-weight: 300;
                    position: absolute;
                    text-align: center;
                    width: 100%;
                }

                .desc-index {
                    width: 100%;
                    height: 100%;
                    position: relative;

                    li {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        background-color: var(--black);
                        opacity: 0;


                        &.on {
                            opacity: 1;
                        }

                        &:nth-child(8) {
                            p {
                                line-height: 230px;
                            }
                        }

                        a {
                            display: block;
                            color: #fff;

                            p {
                                color: var(--mainColor100-color);
                                font-size: 7rem;
                                font-weight: 300;
                            }

                            b {
                                font-size: 1.5rem;
                                display: block;
                                padding: 0 5px;
                            }
                        }
                    }
                }
            }

            .work-list {
                gap: 10px;
                flex-wrap: wrap;

                li {
                    border: 1px solid #ffffff;
                    width: 100%;
                    height: 150px;

                    a {
                        display: block;

                        width: 100%;
                        height: 100%;
                        overflow: hidden;

                        img {
                            object-fit: cover;
                            filter: brightness(.5);
                            transition: .7s;
                        }

                        &.on img {
                            filter: brightness(1);
                        }

                        &:hover img {
                            transform: scale(1.07);
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:701px) {
    #work {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .banner {
            width: 100%;
            height: 70px;
            display: flex;
            align-items: center;

            .splide__track {
                .splide__list {
                    display: flex;
                    align-items: center;

                    .splide__slide {
                        padding: 5px 20px;
                        font-size: 25px;

                    }
                }
            }
        }

        .inner {
            width: 100%;
            margin-top: 5%;
            overflow-x: hidden;
            .inner-box {
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 50px;
                height: 100%;
                width: 100%;
            }

            .work-desc {
                display: flex;
                align-items: center;
                position: relative;
                height: 150px;
                width: 100%;
                justify-content: center;
                z-index: 999;
                background-color: var(--black);

                .work-title {
                    color: var(--mainColor100-color);
                    font-size: 7.5rem;
                    font-weight: 300;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    text-align: center;
                    white-space: nowrap;
                }

                .desc-index {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    z-index: 999;



                    li {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        background-color: var(--black);
                        opacity: 0;
                        text-align: center;
                        a{
                            display: block;
                            text-align: center;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            width: 100%;
                        }


                        &.on {
                            opacity: 1;
                        }
                        &.on p{
                           transform: translateY(0);
                        }
                        &.on b{
                           transform: translateY(0);
                        }

                        a {
                            display: block;
                            color: #fff;

                            p {
                                color: var(--mainColor100-color);
                                font-size: 7rem;
                                font-weight: 300;
                                transform: translateY(100px);
                                transition: .35s;
                            }

                            b {
                                font-size: 1.5rem;
                                display: block;
                                padding: 0 5px;
                                transform: translateY(100px);
                                transition: .45s;
                            }
                        }
                    }
                }
            }

            .work-list {
                gap: 30px;

                >div {
                    gap: 30px;
                    transform: translateX(5%);

                    li {
                        border: 1px solid #ffffff;
                        border-radius: 25px;
                        width: 500px;


                        a {
                            display: block;
                            border-radius: 25px;
                            width: 100%;
                            height: 100%;
                            overflow: hidden;

                            img {
                                object-fit: cover;
                                filter: brightness(.5) blur(3px);
                                transition: .5s;
                            }

                            &.on img {
                                filter: brightness(1) blur(0);
                            }

                            &:hover img {
                                transform: scale(1.07);
                            }
                        }
                    }
                }


            }
        }
    }
}

@media (min-width:1100px) {
    #work {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .banner {
            width: 100%;
            height: 70px;
            display: flex;
            align-items: center;

            .splide__track {
                .splide__list {
                    display: flex;
                    align-items: center;

                    .splide__slide {
                        padding: 5px 20px;
                        font-size: 2.8rem;
                    }
                }
            }

        }

        .inner {
            width: 100%;
            margin-top: 5%;
            overflow-x: hidden;


            .inner-box {
                width: 100%;
                position: relative;
                left: 0%;
                display: flex;
                flex-direction: row;
                gap: 50px;
            }

            .work-desc {
                display: flex;
                align-items: center;
                position: relative;
                background-color: var(--black);
                width: 100%;
                height: 100%;
                padding: 0 5%;

                .work-title {
                    color: var(--mainColor100-color);
                    font-size: 7.5rem;
                    font-weight: 300;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);

                    span {
                        display: block;
                    }
                }

                .desc-index {
                    width: 330px;
                    height: 100%;
                    position: relative;


                    li {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: var(--black);
                        opacity: 0;


                        &.on {
                            opacity: 1;
                        }

                        a {
                            display: block;
                            color: #fff;

                            p {
                                color: var(--mainColor100-color);
                                font-size: 6.3rem;
                                font-weight: 300;
                                height: 150px;


                                &.br {
                                    height: 230px;
                                }
                            }

                            b {
                                display: block;
                                margin-bottom: 10px;
                                font-size: 1.7rem;
                            }
                        }
                    }
                }
            }

            .work-list {

                >div {
                    gap: 30px;
                    transform: translateX(12%);

                    li {
                        border: 1px solid #ffffff;
                        border-radius: 25px;
                        width: 500px;

                        a {
                            display: block;
                            border-radius: 25px;
                            width: 100%;
                            height: 100%;
                            overflow: hidden;

                            img {
                                object-fit: cover;
                                filter: brightness(.5) blur(3px);
                                transition: .7s;
                            }

                            &.on img {
                                filter: brightness(1) blur(0);
                            }

                            &:hover img {
                                transform: scale(1.07);
                            }
                        }
                    }
                }


            }
        }
    }
}